<main>
    <div class="container">
        <div class="row">
            <div class="col-12">  <h1>Su cita ha sido eliminada</h1>
                <p>Para volver a citarse regrese al formulario</p>
                <a href='/'>volver al formulario</a>
            </div>
        </div>
    </div>
</main>