<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Esta fecha no está dispoible</h1>
                <a href='/'>volver al formulario</a>
            </div>
        </div>
    </div>
</main>