body {
  background-image: url("https://i.pinimg.com/originals/b3/4f/0e/b34f0e3e3e5955979814016a01b99344.jpg");
  color: #770377;
  font-weight: 800;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  font-family: "Brankovic", serif;
}

header nav {
  background-color: #8b8b86;
  border-bottom: 5px solid #0f0e09;
}

header a, header a:hover {
  color: #141201;
  margin-left: 10px;
}

main {
  font-family: "Brankovic", serif;
  margin-top: 200px;
}

main .container {
  border-color: #f707f7;
  min-height: 500px;
}

main .container .row {
  min-height: 16px;
}

main .container .row div[class^='col-'] {
  min-height: 100px;
}

main .container .row .cuadro {
  width: 100px;
  height: 100px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.oscuro {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
